name: Deploy to Server

# 触发条件：当 main 分支有 push 时触发
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # 实际在服务器上执行的命令
          script: |
            cd /data/wwwroot/hugo-blog || exit
            ./deploy.sh
            echo "Deployment completed successfully"